body {
    margin: 0;
    padding: 0;
    background-color: #191818;
}

.community-logo {
    font-weight: 400;
    font-size: 32px;
    line-height: 76.34px;
    font-family: poppins;
    color: #F57328;
    text-transform: uppercase;
}

.community-menu {
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
    color: white;
}

.community-lists {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: white;
    font-family: poppins;
    text-transform: capitalize;
}

#active {
    color: #F57328;
}


header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#community-connect {
    text-transform: capitalize;
    background-color: #F57328;
    border-radius: 50px;
    width: 120px;
    padding-block: 8px;
    font-family: Poppins;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    border: 1px solid #F57328;
    color: white;
}



.event-title {
    font-family: Stoke;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    text-align: left;
    color: white;
}

.p-service {
    color: #F57328;
}

.h6-service {
    color: #D9D9D9;
    font-weight: 100;
    font-size: xx-small;
    padding-top: 10px;
}

.event_img{
    width: 250px;
    height: 150px;
}

.h4-heading {
    color: #FFFDFC;
    text-align: center;
    font-family: Stoke;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 1127px;
    height: 73px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
    text-transform: capitalize;
}

.p-events {
    color: rgba(217, 217, 217, 0.82);
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%;
    width: 567px;
    height: 105px;
    margin-left: auto;
    margin-right: auto;
}


.flex-container {
    width: 90%;
    display: flex;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.flex-child {
    flex: 1;
    border-radius: 10px;
    border: 1px solid rgba(217, 217, 217, 0.15);
    background: rgba(25, 24, 24, 0.50);
    padding: 30px;
}

.flex-child:first-child {
    margin-right: 50px;
}

.flex-container2 {
    display: flex;
    width: 90%;
    display: flex;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.sect-text {
    width: 862px;
    height: 343px;
    flex-shrink: 0;
    margin-left: 50px;
}

.h5-text {
    color: #F57328;
    font-family: Stoke;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 836px;
    height: 50px;
    flex-shrink: 0;
    /* margin-left: 50px; */
}

.p-text {
    color: #FFF;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 37px;
    width: 980px;
    /* margin-left: 50px; */
}

.h6-text {
    color: #F57328;
    text-align: justify;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-left: 5; */
}


#community-h2 {
    font-family: Stoke;
    text-align: left;
    line-height: 44px;
    font-size: 36px;
    font-weight: 500;
    color: #F57328;
    margin-left: 90px;
}

#span-T {
    color: #F57328;
}

.community-form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(217, 217, 217, 0.36);
    opacity: 0.7;
    background: rgba(25, 24, 24, 0.70);
    backdrop-filter: blur(2px);
}

.Topic {
    font-family: Manrope;
    line-height: 44px;
    font-size: 12px;
    font-weight: 200;
    color: white;
}

.Email-Address {
    color: white;
    font-family: Manrope;
    line-height: 44px;
    font-size: 12px;
    font-weight: 200;
}

#textA {
    padding-block: 20px;
}

textarea {
    resize: none;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgba(217, 217, 217, 0.36);
    background-color: transparent;
}

.right-flex {
    justify-content: right;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
}

#community-button {
    color: white;
    background-color: #F57328;
    border-radius: 50px;
    width: 25%;
    height: 50px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: center;
    border: 1px solid #F57328;
    margin-block: 30px;
    /* float: right; */
}

.community-form-list {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.ema {
    width: 97%;
    height: 48px;
    border-radius: 10px;
    border: 1px solid rgba(217, 217, 217, 0.36);
    padding-left: 20px;
    color: white;
    background-color: transparent;
}

.community-h6 {
    color: #FFFDFC;
    text-align: center;
    font-family: Stoke;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.375%;
}

.community-div-h6 {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}